* {
  font-family: 'Prompt', sans-serif; 
}

body {
  background: #65869f;
  background: url('https://www.tokkoro.com/picsup/5270295-coffee-cup-froth-coffee-bean-serving-dark-refreshment-drink-beverage-caffeine-fresh-cafe-morning-pour-bokeh-blur-water-coding-chemex-free-images.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100%;
  position: relative;
}